/*所有页面实现毛玻璃特效*/
#aside-content{
    background: rgba(255,255,255,0);
}

#aside-content > .card-widget:first-child {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#aside-content .card-widget {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#recent-posts > .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}
/*标题栏*/
#page-header.nav-visible #nav {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(50px);
}
/*搜索框美化*/
.search-dialog {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 0px;
}

#search-mask {
    background: rgba(255,255,255,0);
}
/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#sidebar #menu-mask {
    background: rgba(255,255,255,0);
}
/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
}

#footer-wrap {
    background-color: rgba(0, 0, 0, 0);
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#web_bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}



#web_bg {
    background: -webkit-linear-gradient(
            0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%
    );
    background: -moz-linear-gradient(
            0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%
    );
    background: -o-linear-gradient(
            0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%
    );
    background: -ms-linear-gradient(
            0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%
    );
    background: linear-gradient(
            90deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%
    );
}
/* 抖动的字体 */
.anime-face {
    animation: anime-face 5s infinite ease-in-out;
    display: inline-block;
    margin: 0 5px;
}
@-webkit-keyframes anime-face {
    2%,24%,80% {
        -webkit-transform: translate(0,1.5px) rotate(1.5deg);
        transform: translate(0,1.5px) rotate(1.5deg)
    }

    4%,68%,98% {
        -webkit-transform: translate(0,-1.5px) rotate(-.5deg);
        transform: translate(0,-1.5px) rotate(-.5deg)
    }

    38%,6% {
        -webkit-transform: translate(0,1.5px) rotate(-1.5deg);
        transform: translate(0,1.5px) rotate(-1.5deg)
    }

    8%,86% {
        -webkit-transform: translate(0,-1.5px) rotate(-1.5deg);
        transform: translate(0,-1.5px) rotate(-1.5deg)
    }

    10%,72% {
        -webkit-transform: translate(0,2.5px) rotate(1.5deg);
        transform: translate(0,2.5px) rotate(1.5deg)
    }

    12%,64%,78%,96% {
        -webkit-transform: translate(0,-.5px) rotate(1.5deg);
        transform: translate(0,-.5px) rotate(1.5deg)
    }

    14%,54% {
        -webkit-transform: translate(0,-1.5px) rotate(1.5deg);
        transform: translate(0,-1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0,-.5px) rotate(-1.5deg);
        transform: translate(0,-.5px) rotate(-1.5deg)
    }

    18%,22% {
        -webkit-transform: translate(0,.5px) rotate(-1.5deg);
        transform: translate(0,.5px) rotate(-1.5deg)
    }

    20%,36%,46% {
        -webkit-transform: translate(0,-1.5px) rotate(2.5deg);
        transform: translate(0,-1.5px) rotate(2.5deg)
    }

    26%,50% {
        -webkit-transform: translate(0,.5px) rotate(.5deg);
        transform: translate(0,.5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0,.5px) rotate(1.5deg);
        transform: translate(0,.5px) rotate(1.5deg)
    }

    30%,40%,62%,76%,88% {
        -webkit-transform: translate(0,-.5px) rotate(2.5deg);
        transform: translate(0,-.5px) rotate(2.5deg)
    }

    32%,34%,66% {
        -webkit-transform: translate(0,1.5px) rotate(-.5deg);
        transform: translate(0,1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0,2.5px) rotate(-1.5deg);
        transform: translate(0,2.5px) rotate(-1.5deg)
    }

    44%,70% {
        -webkit-transform: translate(0,1.5px) rotate(.5deg);
        transform: translate(0,1.5px) rotate(.5deg)
    }

    48%,74%,82% {
        -webkit-transform: translate(0,-.5px) rotate(.5deg);
        transform: translate(0,-.5px) rotate(.5deg)
    }

    52%,56%,60% {
        -webkit-transform: translate(0,2.5px) rotate(2.5deg);
        transform: translate(0,2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0,.5px) rotate(2.5deg);
        transform: translate(0,.5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0,1.5px) rotate(2.5deg);
        transform: translate(0,1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0,2.5px) rotate(-.5deg);
        transform: translate(0,2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0,.5px) rotate(-.5deg);
        transform: translate(0,.5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0,2.5px) rotate(.5deg);
        transform: translate(0,2.5px) rotate(.5deg)
    }

    0%,100% {
        -webkit-transform: translate(0,0) rotate(0);
        transform: translate(0,0) rotate(0)
    }
}

@keyframes anime-face {
    2%,24%,80% {
        -webkit-transform: translate(0,1.5px) rotate(1.5deg);
        transform: translate(0,1.5px) rotate(1.5deg)
    }

    4%,68%,98% {
        -webkit-transform: translate(0,-1.5px) rotate(-.5deg);
        transform: translate(0,-1.5px) rotate(-.5deg)
    }

    38%,6% {
        -webkit-transform: translate(0,1.5px) rotate(-1.5deg);
        transform: translate(0,1.5px) rotate(-1.5deg)
    }

    8%,86% {
        -webkit-transform: translate(0,-1.5px) rotate(-1.5deg);
        transform: translate(0,-1.5px) rotate(-1.5deg)
    }

    10%,72% {
        -webkit-transform: translate(0,2.5px) rotate(1.5deg);
        transform: translate(0,2.5px) rotate(1.5deg)
    }

    12%,64%,78%,96% {
        -webkit-transform: translate(0,-.5px) rotate(1.5deg);
        transform: translate(0,-.5px) rotate(1.5deg)
    }

    14%,54% {
        -webkit-transform: translate(0,-1.5px) rotate(1.5deg);
        transform: translate(0,-1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0,-.5px) rotate(-1.5deg);
        transform: translate(0,-.5px) rotate(-1.5deg)
    }

    18%,22% {
        -webkit-transform: translate(0,.5px) rotate(-1.5deg);
        transform: translate(0,.5px) rotate(-1.5deg)
    }

    20%,36%,46% {
        -webkit-transform: translate(0,-1.5px) rotate(2.5deg);
        transform: translate(0,-1.5px) rotate(2.5deg)
    }

    26%,50% {
        -webkit-transform: translate(0,.5px) rotate(.5deg);
        transform: translate(0,.5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0,.5px) rotate(1.5deg);
        transform: translate(0,.5px) rotate(1.5deg)
    }

    30%,40%,62%,76%,88% {
        -webkit-transform: translate(0,-.5px) rotate(2.5deg);
        transform: translate(0,-.5px) rotate(2.5deg)
    }

    32%,34%,66% {
        -webkit-transform: translate(0,1.5px) rotate(-.5deg);
        transform: translate(0,1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0,2.5px) rotate(-1.5deg);
        transform: translate(0,2.5px) rotate(-1.5deg)
    }

    44%,70% {
        -webkit-transform: translate(0,1.5px) rotate(.5deg);
        transform: translate(0,1.5px) rotate(.5deg)
    }

    48%,74%,82% {
        -webkit-transform: translate(0,-.5px) rotate(.5deg);
        transform: translate(0,-.5px) rotate(.5deg)
    }

    52%,56%,60% {
        -webkit-transform: translate(0,2.5px) rotate(2.5deg);
        transform: translate(0,2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0,.5px) rotate(2.5deg);
        transform: translate(0,.5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0,1.5px) rotate(2.5deg);
        transform: translate(0,1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0,2.5px) rotate(-.5deg);
        transform: translate(0,2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0,.5px) rotate(-.5deg);
        transform: translate(0,.5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0,2.5px) rotate(.5deg);
        transform: translate(0,2.5px) rotate(.5deg)
    }

    0%,100% {
        -webkit-transform: translate(0,0) rotate(0);
        transform: translate(0,0) rotate(0)
    }
}